.container {
    margin-top: 10px;
}

.button {
    background-color: #50B83C;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    height: 36px;
    border: none;
    color: #ffff;
    cursor: pointer;
    min-width: 100px;
    overflow: hidden;
    font-family: RobotoMedium;
    font-weight: 500;
}

.btn__submit {
    padding: 0 24px;
}

.btn__submit:hover {
    background-color: #2fbe8e;
}

.btn__submit:active {
    background-color: #01b075;
}


.btn__sub {
    background-color: #FFFFFF;
    border: 1px solid #E6E6E6;
    color: #1f1f1f;
}

.btn__sub:active {
    background-color: #01b075;
}

.btn__create {
    padding-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__create:hover {
    background-color: #2fbe8e;
}

.btn__create:active {
    background-color: #01b075;
}

.btn__save {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__save:active {
    background-color: #01B075;
}

.btn__save--left {
    padding-right: 16px;
    border-right: 2px solid #bababa;
    display: flex;
    height: 100%;
    align-items: center;
}

.btn__save--right {
    padding: 0 12px;
    display: flex;
    align-items: center;
    height: 100%;
}

.button__combobox {
    padding: 0 12px;
    height: 36px;
    line-height: 36px;
    position: absolute;
    right: 0;
    border-left: 1px solid #E6E6E6;
    cursor: pointer;
}

.button__icon {
    padding-left: 12px;
    padding-right: 4px;
    font-size: 15px;
}

.icon__only {
    padding: 0 12px;
}

.button__form {
    font-family: RobotoMedium;
    font-weight: 500;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

.button--sub {
    width: 80px;
    height: 36px;
    border: 1px solid #E0E0E0;
    background-color: #fff;
    color: #212121;
}

.button--main {
    background-color: #50B83C;
    color: #fff;
    width: 89px;
    height: 36px;
    border: none;
}